<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Udacity Capstone Project</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="navbar-nav mr-auto">
                <a class="navbar-brand" href="#">Udacity Capstone Project</a>
            </div>
            <span class="badge badge-info badge-pill">v2.0.0</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="text-center">Udacity Capstone Project</h1>
                    <hr>
                    <p class="lead text-center"><span class="badge badge-info badge-pill">v2.0.0</span></p>
                </div>
                <h2>Author</h2>
                <p>Henrique Broering Rohden (@hrohden)</p>
                <h2>Description</h2>
                <p>This application is intended to be the final project of the Cloud DevOps Engineer Udacity Nanodegree
                    program. As it develops, the author will perform some steps that involve what was learned during the
                    course, such as continuous integration, cloud computing, and deployment pipelines.</p>
                <h2>Goals</h2>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Status</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Create a simple web application</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Deploy web application to a Docker container</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Create Docker image and deploy to Docker Hub</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Using Jenkins to implement Continuous Integration and Continuous Deployment</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Attribute different labels for container versions</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Create Kubernetes cluster <del>using Cloudformation</del></td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success badge-pill">Completed</span></td>
                            <td>Deploy Docker container to Kubernetes cluster</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/webjars/jquery/jquery.slim.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
